# SPDX-License-Identifier: BSD-2-Clause-Patent

for isofile in /archlinux-*-x86_64.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
            probe -u $root --set=isouuid
			search --set=root --file /arch/version
            set imgdevpath="/dev/disk/by-uuid/$isouuid"
            menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/arch/boot/x86_64/vmlinuz-linux img_dev=$imgdevpath img_loop=${iso_path} earlymodules=loop quiet splash --
				initrd	/arch/boot/x86_64/initramfs-linux.img
			}
			menuentry "Start $isofile (compatibility mode)" "$isofile"{
				linux	/arch/boot/x86_64/vmlinuz-linux img_dev=$imgdevpath img_loop=${iso_path} earlymodules=loop nomodeset --
				initrd	/arch/boot/x86_64/initramfs-linux.img
			}
			menuentry "Copy to RAM & Start $isofile (removable media)" "$isofile"{
				linux	/arch/boot/x86_64/vmlinuz-linux img_dev=$imgdevpath img_loop=${iso_path} earlymodules=loop copytoram=yes memtest=17 --
				initrd	/arch/boot/x86_64/initramfs-linux.img
			}
		}
	fi
done

for isofile in /ventoy*livecd.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /EFI/VentoyLiveCD
			menuentry "Load into RAM and start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/EFI/boot/vmlinuz first_run rdinit=/VTOY/init
				initrd	/EFI/boot/initrd
			}
		}
	fi
done
