# SPDX-License-Identifier: BSD-2-Clause-Patent

submenu "Tools Menu"{
	for isofile in /EFI/tool/*.efi; do
		if [ -e "$isofile" ]; then
			if [ "$isofile" = "/EFI/tool/netboot.xyz.efi" ]; then
				menuentry "$isofile Reminder: Secure boot needs to be disabled to use." "$isofile"{
					echo -e "Even if you enroll the hash with MokManager, you will experience secure boot issues. \nPlease ensure secure boot is off before using. \nLoading"
					set isofile="$2"
					chainloader $isofile
					boot
				}
			else
				menuentry "$isofile" "$isofile"{
					echo -e "You may have to enroll the hash with MokManager before using. \nLoading"
					set isofile="$2"
					chainloader $isofile
					boot
				}
			fi
		fi
	done
	for isofile in /mt86p_*_x86_64; do
		if [ -e "$isofile" ]; then
			menuentry "$isofile" "$isofile"{
				echo -e "You may have to enroll the hash with MokManager before using. \nLoading"
				set isofile="$2"
				chainloader $isofile
				boot
			}
		fi
	done
	for isofile in /EFI/Rufus/bootx64.efi; do
		if [ -e "$isofile" ]; then
			menuentry "UEFI:NTFS - Boot NTFS or exFAT from first partition" "$isofile"{
				set isofile="$2"
				chainloader $isofile
				boot
			}
		fi
	done
}
