# SPDX-License-Identifier: BSD-2-Clause-Patent

for isofile in /linuxmint*.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.disk/info
			menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/casper/vmlinuz boot=casper username=mint hostname=mint iso-scan/filename=${iso_path} quiet splash --
				initrd	/casper/initrd.lz
			}
			menuentry "Start $isofile (compatibility mode)" "$isofile"{
				linux	/casper/vmlinuz boot=casper username=mint hostname=mint iso-scan/filename=${iso_path} noapic noacpi nosplash irqpoll nomodeset --
				initrd	/casper/initrd.lz
			}
			menuentry "Copy to RAM 8GB+ recommended & Start $isofile (removable media)" "$isofile"{
				linux	/casper/vmlinuz boot=casper username=mint hostname=mint iso-scan/filename=${iso_path} memtest=17 toram --
				initrd	/casper/initrd.lz
			}
		}
	fi
done

for isofile in /clonezilla-live-20*.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.disk/info
			menuentry "Load into RAM and start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/live/vmlinuz boot=live union=overlay username=user config quiet loglevel=3 hostname=clonezilla findiso=${iso_path} noswap edd=on nomodeset enforcing=0 oct_live_run="ocs-live-general" ocs-live-batch=no toram net.ifnames=0 i915.blacklist=yes radeonhd.blacklist=yes nouveau.blacklist=yes vmwgfx.enable_fbdev=1 ocs_1_cpu_udev scsi_mod.use_blk_mq=0 nvme.poll_queues=1
				initrd	/live/initrd.img
			}
		}
	fi
done

for isofile in /clonezilla-live-3*.iso; do
	if [ -f "$isofile" ]; then
		menuentry "Warning: Debian based Clonezilla found $isofile" {
			echo "This is the Ubuntu grub, we cannot load Debian kernels in secure boot, Clonezilla alternative stable is based off of Ubuntu, use that instead. You could also get Debian grub."
			echo "press ESC to return to menu"
			sleep --interruptible 60
		}
	fi
done

for isofile in /elementaryos*.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.disk/info
			menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/casper/vmlinuz boot=casper iso-scan/filename=${iso_path} quiet splash --
				initrd	/casper/initrd.lz
			}
			menuentry "Start $isofile (compatibility mode)" "$isofile"{
				linux	/casper/vmlinuz boot=casper iso-scan/filename=${iso_path} noapic noacpi nosplash irqpoll nomodeset --
				initrd	/casper/initrd.lz
			}
			menuentry "Copy to RAM 8GB+ recommended & Start $isofile (removable media)" "$isofile"{
				linux	/casper/vmlinuz boot=casper iso-scan/filename=${iso_path} memtest=17 toram --
				initrd	/casper/initrd.lz
			}
		}
	fi
done

for isofile in /neon*.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.disk/info
			menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/casper/vmlinuz boot=casper apparmor=0 iso-scan/filename=${iso_path} quiet splash --
				initrd	/casper/initrd
			}
			menuentry "Start $isofile (compatibility mode)" "$isofile"{
				linux	/casper/vmlinuz boot=casper apparmor=0 iso-scan/filename=${iso_path} noapic noacpi nosplash irqpoll nomodeset --
				initrd	/casper/initrd
			}
			menuentry "Copy to RAM 8GB+ recommended & Start $isofile (removable media)" "$isofile"{
				linux	/casper/vmlinuz boot=casper apparmor=0 iso-scan/filename=${iso_path} memtest=17 toram --
				initrd	/casper/initrd
			}
		}
	fi
done

for isofile in /Zorin*.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.disk/info
			menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/casper/vmlinuz iso-scan/filename=${iso_path} quiet splash --
				initrd	/casper/initrd.zstd
			}
			menuentry "Start $isofile (compatibility mode)" "$isofile"{
				linux	/casper/vmlinuz iso-scan/filename=${iso_path} noapic noacpi nosplash irqpoll nomodeset --
				initrd	/casper/initrd.zstd
			}
			menuentry "Start $isofile (modern NVIDIA drivers)" "$isofile"{
				linux	/casper/vmlinuz iso-scan/filename=${iso_path} nvidia-zorin quiet splash --
				initrd	/casper/initrd.zstd
			}
			menuentry "Copy to RAM 8GB+ recommended & Start $isofile (removable media)" "$isofile"{
				linux	/casper/vmlinuz iso-scan/filename=${iso_path} memtest=17 toram --
				initrd	/casper/initrd.zstd
			}
		}
	fi
done

for isofile in /rescuezilla*.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.disk/info
			menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux  /casper/vmlinuz iso-scan/filename=${iso_path} boot=casper quiet splash fsck.mode=skip noprompt edd=on
				initrd /casper/initrd.lz
			}
			menuentry "Start $isofile (graphical fallback mode)" "$isofile"{
				linux	/casper/vmlinuz iso-scan/filename=${iso_path} boot=casper xforcevesa nomodeset vga=791 fsck.mode=skip noprompt edd=on --
				initrd /casper/initrd.lz
			}
			menuentry "Copy to RAM 8GB+ recommended & Start $isofile (removable media)" "$isofile"{
				linux	/casper/vmlinuz iso-scan/filename=${iso_path} boot=casper toram fsck.mode=skip noprompt edd=on memtest=17 --
				initrd /casper/initrd.lz
			}
		}
	fi
done

for isofile in /ubuntu-mini*.iso; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.disk/info
			menuentry "Choose an Ubuntu version to install" {
				set gfxpayload=keep
				linux /casper/vmlinuz iso-chooser-menu ip=dhcp iso-scan/filename=${iso_path} ---
				initrd /casper/initrd
			}

		}
	fi
done
