# SPDX-License-Identifier: GPL-3.0-or-later
# Adapted from Ventoy INSTALL/grub/hwinfo.cfg.
# See /LICENSES for attribution and full license text.

menuentry 'System Specifications' {
	echo "Hardware details adapted from Ventoy hwinfo.cfg (GPL-3.0+)"

	smbios -t 4 -s 0x10 --set=cpu_brand;
	smbios -t 1 -s 0x04 --set=system_vendor;
	smbios -t 1 -s 0x05 --set=system_product;
	smbios -t 1 -s 0x06 --set=system_version;

	smbios -t 2 -s 0x04 --set=board_vendor;
	smbios -t 2 -s 0x05 --set=board_product;
	smbios -t 2 -s 0x06 --set=board_version;

	smbios -t 0 -s 0x04 --set=bios_vendor;
	smbios -t 0 -s 0x05 --set=bios_ver;
	smbios -t 0 -s 0x08 --set=bios_date;
	smbios -t 0 -b 0x09 --set=bios_size;

	echo ""
	echo "CPU Model               $cpu_brand"
	echo "Secure Boot Status      $secureboot"

	echo ""
	echo "Manufacturer            $system_vendor"
	echo "Product Name            $system_product"
	echo "Version                 $system_version"

	echo ""
	echo "Board Manufacturer      $board_vendor"
	echo "Board Name              $board_product"
	echo "Board Version           $board_version"

	echo ""
	echo "BIOS Manufacturer       $bios_vendor"
	echo "BIOS Version            $bios_ver"
	echo "BIOS Date               $bios_date"
	echo "BIOS ROM Size           $bios_size"
	echo ""

	echo "press ESC to return to menu"
	sleep --interruptible 60
}
