# SPDX-License-Identifier: BSD-2-Clause-Patent

set ogroot=$root

set secureboot=disabled
if [ "$lockdown" = "y" ]; then
set secureboot=enabled
fi

for isofile in /Fedora-Everything-netinst*.iso; do
	if [ -e "$isofile" ]; then
		submenu "found $isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /.discinfo
			probe --label --set=cd_label (loop)
			menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=$cd_label iso-scan/filename=${iso_path} ro rd.live.image quiet splash--
				initrd	/images/pxeboot/initrd.img
			}
			menuentry "Start $isofile (compatibility mode)" "$isofile"{
				linux	/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=$cd_label iso-scan/filename=${iso_path} ro rd.live.image nomodeset --
				initrd	/images/pxeboot/initrd.img
			}
			menuentry "Copy to RAM & Start $isofile (removable media)" "$isofile"{
				linux	/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=$cd_label iso-scan/filename=${iso_path} ro rd.live.ram=1 rd.live.image memtest=17 --
				initrd	/images/pxeboot/initrd.img
			}
		}
	fi
done

for isofile in /Fedora*x86_64.iso; do
	if [ -e "$isofile" ]; then
		submenu "found $isofile" "$isofile"{
			set isofile="$2"
			set iso_path=$isofile
			loopback loop $isofile
			search --set=root --file /boot/mbrid
			probe --label --set=cd_label (loop)
			menuentry "Start $isofile" "$isofile"{
				set gfxpayload=keep
				linux	/boot/x86_64/loader/linux root=live:CDLABEL=$cd_label iso-scan/filename=${iso_path} ro rd.live.image quiet rhgb splash--
				initrd	/boot/x86_64/loader/initrd
			}
			menuentry "Start $isofile (compatibility mode)" "$isofile"{
				linux	/boot/x86_64/loader/linux root=live:CDLABEL=$cd_label iso-scan/filename=${iso_path} ro rd.live.image nomodeset --
				initrd	/boot/x86_64/loader/initrd
			}
			menuentry "Copy to RAM & Start $isofile (removable media)" "$isofile"{
				linux	/boot/x86_64/loader/linux root=live:CDLABEL=$cd_label iso-scan/filename=${iso_path} ro rd.live.image rd.live.ram=1 memtest=17
				initrd	/boot/x86_64/loader/initrd
			}
		}
	fi
done

for isofile in /*.efi; do
	if [ -e "$isofile" ]; then
		menuentry "$isofile" "$isofile"{
			echo -e "You may have to enroll the hash with MokManager before using. \nLoading"
			set isofile="$2"
			chainloader $isofile
			boot
		}
	fi
done

menuentry "Show Secure Boot Usage Guide" {
    cat /usage.txt
    echo "Press ESC to return to menu"
    sleep --verbose 60
}

menuentry "mmx64.efi MokManager (use it to enroll the hash to remove error: bad shim)" {
	chainloader /efi/boot/mmx64.efi
	boot
}

menuentry "Unload loopback & reset root fix (error: device name already exists)"{
	set root=$ogroot
	loopback loop -d
	configfile /boot/fedora/grub.cfg
}

menuentry "UEFI Firmware Settings" {
	fwsetup
}

menuentry "Reboot"{
	reboot
}

menuentry "Poweroff"{
	halt
}

menuentry "exit" {exit}
